<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus corrupti amet maiores voluptas obcaecati voluptate molestiae odit sapiente facere blanditiis, harum impedit aspernatur ad, reiciendis ut reprehenderit. Natus, voluptatem doloremque.</p>
    </div>
</div>