<!-- Page Wrapper -->
<div id="wrapper" class="wrapper">

    {{> sidebar}}

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            {{> topbar}}

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Welcome to TEC Digitalito</h1>
                </div>
                <h5 class="mb-4">TEC Digitalito includes the following sections</h5>

                <!-- Content Row -->
                <div class="row">
                    <div class="col-lg-6 mb-4">
                        <div class="card border-left-info shadow h-100 py-2">
                            <div class="card-body">
                                <div class="form-group">
                                    <div class="text-l font-weight-bold text-info text-uppercase mb-1">Teacher - Courses</div>
                                    <hr>
                                </div>
                                <div class="form-group">
                                    <ul>
                                        <li><p>Create courses</p></li>
                                        <li><p>Publish private courses</p></li>
                                        <li><p>Create topics for each course</p></li>
                                        <li><p>Create subtopics for each topic</p></li>
                                        <li><p>Create evaluations</p></li>
                                        <li><p>Check the list of course members</p></li>
                                        <li><p>Send messages to course members</p></li>
                                    </ul>  
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="form-group">
                                    <div class="text-l font-weight-bold text-success text-uppercase mb-1">Student - Courses</div>
                                    <hr>
                                </div>
                                <div class="form-group">
                                    <ul>
                                        <li><p>Consult the topics of each course</p></li>
                                        <li><p>Consult the subtopics of each topic</p></li>
                                        <li><p>Complete assigned evaluations for each course</p></li>
                                        <li><p>Check your scores</p></li>
                                        <li><p>Check the list of course members</p></li>
                                        <li><p>Send messages to course members</p></li>
                                        <li><p>Send messages to the course teacher</p></li>
                                    </ul> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="form-group">
                                    <div class="text-l font-weight-bold text-primary text-uppercase mb-1">Student - Search</div>
                                    <hr>
                                </div>
                                <div class="form-group">
                                    <ul>
                                        <li><p>Search courses published by a teacher</p></li>
                                        <li><p>View general information about a course</p></li>
                                        <li><p>Register for a course</p></li>
                                    </ul> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <div class="card border-left-warning shadow h-100 py-2">
                            <div class="card-body">
                                <div class="form-group">
                                    <div class="text-l font-weight-bold text-warning text-uppercase mb-1">See Friends</div>
                                    <hr>
                                </div>
                                <div class="form-group">
                                    <ul>
                                        <li><p>Add new friends</p></li>
                                        <li><p>Check your friends</p></li>
                                        <li><p>Send messages to your friends</p></li>
                                        <li><p>Check your friends' courses</p></li>
                                    </ul> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        {{> footer}}

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->