<!-- Page Wrapper -->
<div id="wrapper" class="wrapper">

    {{> sidebar}}

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            {{> topbar}}

            <!-- Begin Page Content -->
            <div class="container-fluid">

                 <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Manage Documents</h1>
                </div>

                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                            <div class="form-group">
                                <div class="h5 mb-0 text-gray-800">Add File</div>   
                            </div>
                            <form action="/teachers/uploadFile/{{code}}/{{title}}/{{subTopictitle}}" method="POST">
                                <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="file" class="filepicker" id="control-uploadFile" onchange="getFile(this.value);" 
                                        name="file">
                                    <input type="submit" value="Upload">
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2021</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->