<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Online Clothing Store">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Online Clothing Store</title>

    <!--Icon-->
    <link rel="icon" href="/img/icon.png" type="image/x-icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    
    <link rel="stylesheet" href="/bootstrap-resources/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/bootstrap-resources/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/bootstrap-resources/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/bootstrap-resources/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/bootstrap-resources/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/bootstrap-resources/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/bootstrap-resources/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/bootstrap-resources/css/style.css" type="text/css">

    <!--Icons-->
    <script src="https://kit.fontawesome.com/d9892d3dc4.js" crossorigin="anonymous"></script>

    
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="/home"><img src="/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a href="/home">Home</a></li>
                            <li><a href="/shop">Shop</a></li>
                            <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="/shop/publishProduct">Publish product</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <a href="/home/shop/shopping-cart"><img src="/bootstrap-resources/img/icon/cart.png" alt=""></a>
                        <div class="price">Shopping Cart</div>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    <main>
        {{{body}}}
    </main>

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text"> 
                        <p>Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>
                            All rights reserved | Online Clothing Store
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="/js/functions.js"></script>
    <script src="/bootstrap-resources/js/jquery-3.3.1.min.js"></script>
    <script src="/bootstrap-resources/js/bootstrap.min.js"></script>
    <script src="/bootstrap-resources/js/jquery.nice-select.min.js"></script>
    <script src="/bootstrap-resources/js/jquery.nicescroll.min.js"></script>
    <script src="/bootstrap-resources/js/jquery.magnific-popup.min.js"></script>
    <script src="/bootstrap-resources/js/jquery.countdown.min.js"></script>
    <script src="/bootstrap-resources/js/jquery.slicknav.js"></script>
    <script src="/bootstrap-resources/js/mixitup.min.js"></script>
    <script src="/bootstrap-resources/js/owl.carousel.min.js"></script>
    <script src="/bootstrap-resources/js/main.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</body>

</html>