<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Sign up</h1>
                        </div>
                        <form class="user" action="/users/signup" method="POST">
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="file" class="imagepicker" id="control-avatar" onchange="getImage(this.value);" 
                                        accept="image/jpg, image/jpeg, image/png" name="avatar">
                                    <img id="display-image" class="rounded-circle mx-auto d-block m-4 avatar" />
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-control-user">Select a photo / avatar</label>
                                    <label for="control-avatar" class="form-control-user"><i class="fas fa-plus-circle"></i></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" name="name" placeholder="Full name"
                                    value="{{name}}">
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    <label class="form-control-user">Date of birth</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="date" class="form-control form-control-user" id="datepicker"
                                        name="dateofbirth" min="1950-01-01" max="2021-12-31">
                                </div>
                            </div>
                             <div class="form-group">
                                <input type="text" class="form-control form-control-user" name="username" placeholder="Username"
                                    value={{username}}>
                             </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="password" class="form-control form-control-user" name="password" placeholder="Password"
                                        value={{password}}>
                                </div>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control form-control-user" name="confirm_password" placeholder="Confirm Password"
                                        value={{confirm_password}}>
                                </div>
                            </div>
                            <div class="mt-3">
                                <button type="submit" class="btn btn-primary btn-user btn-block">Sign up</button>
                            </div>
                            <hr>
                        </form>
                        <div class="text-center">
                            <a class="small" href="/users/signin">Already have an account? Login!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>